.answerable-section.accordion > .card {
    overflow: visible;
}

.card-header.bg-primary .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #c6c6c6;
    background-color: #fff;
}

.card-header.bg-primary .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #007bff;
}

.show-advanced-switch {
    float: right;
    flex-grow: 1;
    text-align: right;
}

.section-collapsed .show-advanced-switch {
    display: none;
}

.answerable-question .show-advanced-switch {
    padding-right: 20px;
}

.answerable-section .show-advanced-switch {
    padding-right: 0;
}

.question-with-unit {
    display: flex;
    max-width: 500px;
    flex-grow: 1;
}

.question-with-unit > .base-question {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.question-with-unit > .unit-question {
    width: 240px;
    margin-left: 20px;
}

.answerable-section > .card > .card-header .answer > .answer-content {
    position: relative;
    min-height: 24px;
}

.type-answer-group {
    display: flex;
    position: absolute;
    width: 100%;
}

.type-answer-group .Select {
    margin-top: -6px;
    flex-grow: 1;
    margin-left: 15px;
}

.type-answer-group .Select-control {
    height: 37px;
}

.type-answer-group .Select--multi .Select-value {
    margin-top: 4px;
}
