.card-header.bg-primary .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #c6c6c6;
    background-color: #fff;
}

.card-header.bg-primary .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #007bff;
}

.show-advanced-switch {
    float: right;
    flex-grow: 1;
    text-align: right;
}

.section-collapsed .show-advanced-switch {
    display: none;
}

.answerable-question .show-advanced-switch {
    padding-right: 20px;
}

.answerable-section .show-advanced-switch {
    padding-right: 0;
}

.question-with-unit {
    display: flex;
    max-width: 500px;
    flex-grow: 1;
}

.question-with-unit > .base-question {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.question-with-unit > .unit-question {
    max-width: 40%;
    margin-left: 20px;
}
